/* Что */
.chto
	margin-top 250px
	display block
	background-image url(../../images/7chto/chto-bg.png)
	background-repeat no-repeat
	background-size contain

	/* Заголовок */
.chto__title
	margin-bottom 150px
	padding-top 140px
	text-align center
	color #fff
.chto__title-chto
	display inline-block
	font-size 190px
	font-weight 600
	vertical-align middle
	text-transform uppercase
.chto__title-txt
	margin 0 30px
	display inline-block
	max-width 540px
	font-size 60px
	line-height 54px
	text-align left
	vertical-align middle
img.chto__title-img
	display inline-block
	vertical-align middle
	/* /Заголовок */

	/* Айтемы */
.chto__items
	margin auto
	max-width 1200px
	text-align center
.chto__item
	margin-bottom 100px
	display inline-block
	width 33%
.chto__item-text
	margin-top 20px
	font-size 36px
	line-height 47px
	color greyTxt
	/* /Айтемы */

	/* Дополнение */
.chto__stars
	font-size 30px
	line-height 60px
	color greyTxt
	/* /Дополнение */

	/* Готовые комплекты */
.chto__ready
	position relative
	margin-top 100px
	height 1180px
	background-image url('../../images/7chto/chto-komplekti.png')
	background-size cover

.chto__ready-text
	position absolute
	top 340px
	left 360px
	max-width 600px

.chto__ready-text-title
	font-size 50px
	font-weight 600
	line-height 72px
	text-align right
	color red30
	text-transform uppercase

img.chto__ready-img
	margin-top -25px
	/* /Готовые комплекты */
/* /Что */
