mixin 7chto()
	+b.chto&attributes(attributes)
		block
		.chto__title
			.chto__title-chto что
			.chto__title-txt можно приготовить в духовом шкафу шириной 45 см
			img.chto__title-img(src='../../images/7chto/chto-question-white.png')
		.chto__items
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-1.png')
				.chto__item-text 1 индейка
					br
					| на 3 кг
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-2.png')
				.chto__item-text 1 шашлык
					br
					| на 8 кусков*
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-3.png')
				.chto__item-text 1 лазанья
					br
					| на 10 порций
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-4.png')
				.chto__item-text 1 пирог
					br
					| на 12 порций
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-5.png')
				.chto__item-text 20 средних
					br
					| пирожков**
			.chto__item
				img.chto__item-img(src='../../images/7chto/chto-item-6.png')
				.chto__item-text 40 капкейков
					br
					| (кексов)**
		.chto__stars.site-width * При помощи одного вертела в комплекте
			br
			| ** Помещается на 2 уровня приготовления (2 противня в комплекте)
		.chto__ready
			.chto__ready-text
				.chto__ready-text-title Готовые комплекты
					br
					| от бренда
				img.chto__ready-img(src='../../images/7chto/chto-fornelli.png')
			
		div(style='height:100px;')
