/* BEST */
.best
	display block
	min-height 1100px
	margin-top 100px

.best__title
	margin auto
	max-width 950px
	font-size 100px
	font-weight 600
	text-transform uppercase
	color red30

.best__title-row1
	text-align left

.best__title-row2
	text-align right

.best__content
	display flex
	flex-direction row

	/* Объекты */
.best__objects
	position relative
	width 100%
	max-width 950px
.best__object-title
	font-size 45px
	font-weight 600
	text-transform uppercase
.best__object-1
	position relative
	z-index 20
.best__object-title-1
	position absolute
	left 50px
	bottom 0

.best__object-2
	position absolute
	z-index 10
	top 134px
	left 414px
.best__object-title-2
	position absolute
	bottom -73px
	/* /Объекты */

	/* Победители */
.best__winners
	margin-top 130px
	width 470px

.best__winner
	position relative
.best__winner-2
	margin-top 58px
.best__winner-txt
	position absolute
	left 207px
	bottom 5px
	width 300px
	line-height 36px
	color #fff
.best__winner-txt-title
	font-size 36px
	font-weight 600
	text-transform uppercase
.best__winner-txt-cntnt
	font-size 24px

.best__winner-img
	position relative
	/* /Победители */

	/* Адаптация */
@media screen and (max-width 1600px)
	.best__content
		flex-wrap wrap
		justify-content space-around
	.best__winners
		margin-top 280px

@media screen and (max-width 900px)
	.best__objects
		display flex
		flex-wrap wrap
		justify-content space-around
	.best__object-2
		position relative
		top 105px
		left inherit

@media screen and (max-width 650px)
	.best__title
		font-size 15.4vw
	.best__object
		width 100%
		text-align center
	.best__object.best__object-img
		width 80%
	.best__winner-txt
		left 0
		position relative
		margin-top 20px
	.best__winners
		text-align center
	.best__winner
		display inline-block
	.best__object-title-1,
	.best__object-title-2
		position relative
		margin-top -35px
		left 0
	/* /Адаптация */

/* /BEST */
