mixin 10best()
	+b.best&attributes(attributes)
		block
		.site-width
			.best__title
				.best__title-row.best__title-row1 Выбирайте
				.best__title-row.best__title-row2 Лучшее!
			.best__content#best__content.animate-it
				// Объекты
				.best__objects
					.best__object.best__object-1
						img.best__object(src='../../images/10best/best-obj1.png')
						.best__object-title.best__object-title-1
							span(style='color: #474747') pga 45
							span(style='color: #D20131') tordo
					.best__object.best__object-2
						img.best__object.best__object-img(src='../../images/10best/best-obj2.png')
						.best__object-title.best__object-title-2
							span(style='color: #474747') fea 45
							span(style='color: #D20131') sonata
				// /Объекты
				.best__winners
					.best__winner
						img.best__winner-img(src='../../images/10best/best-win.png')
						.best__winner-txt
							.best__winner-txt-title PGA 45 TORDO
							.best__winner-txt-cntnt Первое место по популярности среди варочных поверхностей шириной 45 см
					.best__winner.best__winner-2
						img.best__winner-img(src='../../images/10best/best-win.png')
						.best__winner-txt
							.best__winner-txt-title FEA 45 SONATA
							.best__winner-txt-cntnt Первое место по популярности на Яндекс Маркете среди духовых шкафов шириной 45 см
