mixin 2shirina45()
	+b.shirina45&attributes(attributes)
		block
		// Лэйбл
		.shirina45__label-container
			.shirina45__label
				.shirina45__label-title Встраиваемая техника
					br
					| шириной всего
				.shirina45__label-width
					img(src='images/2shirina45/shirina45-label-width.png').shirina45__label-width-img
				.shirina45__label-txt дарит значительное
					br
					| преимущество в увеличении
					br
					| свободного места!
				.shirina45__label-question а что еще?
			// /Лэйбл
		// Круг
		.shirina45__round-container
			.shirina45__round
				.shirina45__round-center-img-container
					img(src='images/2shirina45/shirina45-round-big.png').shirina45__round-center-img
				// Маленькие круги
				.shirina45__round-side.shirina45__round-side-1
					img(src='images/2shirina45/shirina45-round-small-1.png').shirina45__round-side-img.shirina45__round-side-img-1
					.shirina45__round-side-txt.shirina45__round-side-txt-1 расширяет
						br
						| рабочее
						br
						| пространство
				.shirina45__round-side.shirina45__round-side-2
					img(src='images/2shirina45/shirina45-round-small-2.png').shirina45__round-side-img.shirina45__round-side-img-2
					.shirina45__round-side-txt.shirina45__round-side-txt-2 идеальный вариант
						br
						| для студии
				.shirina45__round-side.shirina45__round-side-3
					img(src='images/2shirina45/shirina45-round-small-3.png').shirina45__round-side-img.shirina45__round-side-img-3
					.shirina45__round-side-txt.shirina45__round-side-txt-3 выбор
						br
						| молодых семей
				.shirina45__round-side.shirina45__round-side-4
					.shirina45__round-side-txt.shirina45__round-side-txt-4 подходит
						br
						| для тех, кто
						br
						| осваивает кулинарное
						br
						| мастерство					
					img(src='images/2shirina45/shirina45-round-small-4.png').shirina45__round-side-img.shirina45__round-side-img-4
				.shirina45__round-side.shirina45__round-side-5
					img(src='images/2shirina45/shirina45-round-small-5.png').shirina45__round-side-img.shirina45__round-side-img-5
					.shirina45__round-side-txt.shirina45__round-side-txt-5 обладает
						br
						| максимальным
						br
						| функционалом
				.shirina45__round-side.shirina45__round-side-6
					img(src='images/2shirina45/shirina45-round-small-6.png').shirina45__round-side-img.shirina45__round-side-img-6
					.shirina45__round-side-txt.shirina45__round-side-txt-6 подходит для
						br
						| самых маленьких
						br
						| кухонь
		// /Круг
