/* 6 качеств вашего духового шкафа */
.kachestva2
	position relative
	display block
	// background-image url('../../images/6kachestva2/bg1.jpg')
	// background-size cover

/* Заголовок */
.kachestva2__title-cntnt
	// position relative
	z-index 30
	padding-top 110px
	height 558px
	text-align center
	color #fff
	background-image url('../../images/6kachestva2/kachestva2-rainbow.png')
	background-position top
.kachestva2__title-cntnt-nmb
	margin-left 190px
	display inline-block
	font-size 190px
	font-weight 600
	line-height 138px
	vertical-align bottom
.kachestva2__title-cntnt-txt
	margin 0 0 -10px -10px
	display inline-block
	width 100%
	max-width 480px
	font-size 60px
	vertical-align bottom
.kachestva2__title-cntnt-xclam
	display inline-block
	vertical-align bottom
/* /Заголовок */

/* Контент */
.kachestva2__cntnt
	position relative
	margin-top -160px
	display flex
	justify-content flex-end

.kachestva2__cntnt-col-1
	position absolute
	top -190px
	left 0
.kachestva2__cntnt-col-1-img
	z-index 10
	width 100%
	max-width 1086px
.kachestva2__cntnt-col-2
	position relative
	z-index 20
	color #fff
	display flex
	flex-direction column

	/* Айтемы */
.kachestva2__cntnt-col-2-row
	margin-bottom 40px
.kachestva2__cntnt-col-2-row-txt-ttl
	margin-bottom 20px
	font-size 2.2em
	font-weight 600
	text-transform uppercase
.kachestva2__cntnt-col-2-row-txt-txt
	font-size 1.8em

.kachestva2__cntnt-col-2-row-img
	display inline-block
	vertical-align middle
.kachestva2__cntnt-col-2-row-img-2
	margin-left 30px

.kachestva2__cntnt-col-2-row-txt
	margin-left 30px
	display inline-block
	max-width 520px
	text-align left
	vertical-align middle

/* Качества */
.kachestva2__cntnt-col-2-row-1,
.kachestva2__cntnt-col-2-row-4,
.kachestva2__cntnt-col-2-row-6
	margin-left 105px
/* /Качества */
	/* /Айтемы */

/* /Контент */
	/* Адаптация */
@media screen and (max-width 1000px)
	.kachestva2__cntnt-col-2-row-1,
	.kachestva2__cntnt-col-2-row-4,
	.kachestva2__cntnt-col-2-row-6
		margin-left 0
	.kachestva2__cntnt-col-2
		padding-left 20px
@media screen and (max-width 840px)
	.kachestva2__cntnt
		margin-top -40px
	.kachestva2__title-cntnt-nmb
		margin-left 0
@media screen and (max-width 700px)
	.kachestva2__cntnt-col-2
		width 100%
		padding-left 0
	.kachestva2__cntnt-col-2-row
		display flex
		flex-direction column
		align-items center
	.kachestva2__cntnt-col-2-row-txt
		margin-top 1em
		margin-left 0
		text-align center
@media screen and (max-width 640px)
	.kachestva2__title-cntnt
		position relative
		display flex
		flex-direction column
		align-items center
		height 700px
	.kachestva2__title-cntnt-txt
		margin 0 0 10px -10px
@media screen and (max-width 400px)
	.kachestva2__title-cntnt
		height 760px
	.kachestva2__cntnt-col-2-row-img img
		width 38vw
	.kachestva2__cntnt-col-2-row-txt
		font-size 4.1vw
	/* /Адаптация */
/* /6 качеств вашего духового шкафа */
