mixin 6kachestva2()
	+b.kachestva2&attributes(attributes)
		block
		// Заголовок
		.kachestva2__title-cntnt
			.kachestva2__title-cntnt-nmb 6
			.kachestva2__title-cntnt-txt качеств вашего духового шкафа
			img.kachestva2__title-cntnt-xclam(src='../../images/6kachestva2/kachestva2-exclam.png')
		// /Заголовок
		// Контент
		.kachestva2__cntnt
			.kachestva2__cntnt-col-1
				//- img.kachestva2__cntnt-col-1-rainbow(src='../../images/6kachestva2/kachestva2-rainbow.png')
				img.kachestva2__cntnt-col-1-img(src='../../images/6kachestva2/kachestva2-shkaf.png')
			// Качества
			.kachestva2__cntnt-col-2
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-1
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item1.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl удобный дизайн
						.kachestva2__cntnt-col-2-row-txt-txt Утапливаемые переключатели
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-2
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item2.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl управление временем
						.kachestva2__cntnt-col-2-row-txt-txt Умный таймер с настройкой напоминания, отложенного старта и отключения
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-3
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item3.png')
						img.kachestva2__cntnt-col-2-row-img-2(src='../../images/6kachestva2/kachestva2-item4.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl легкий ход
						.kachestva2__cntnt-col-2-row-txt-txt Каталитическая очистка и съемная разборная дверца
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-4
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item5.png')
						img.kachestva2__cntnt-col-2-row-img-2(src='../../images/6kachestva2/kachestva2-item6.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl большой выбор
						.kachestva2__cntnt-col-2-row-txt-txt От 5 до 9 режимов работы (3D-конвекция, разморозка и т.д.)
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-5
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item7.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl комфорт приготовления
						.kachestva2__cntnt-col-2-row-txt-txt Телескопические направляющие удерживают противень
				.kachestva2__cntnt-col-2-row.kachestva2__cntnt-col-2-row-6
					.kachestva2__cntnt-col-2-row-img
						img(src='../../images/6kachestva2/kachestva2-item8.png')
					.kachestva2__cntnt-col-2-row-txt
						.kachestva2__cntnt-col-2-row-txt-ttl безопасность
						.kachestva2__cntnt-col-2-row-txt-txt Дверь почти не нагревается благодаря 3-му остеклению
			// Качества						
		// /Контент
			
				
