.knopka
	display block
	text-align center

.knopka__btn
	position relative
	margin auto
	padding 8px 33px
	display inline-block
	font-size 18px
	vertical-align middle
	color #fff
	background-color red30
	border-radius 5px

.knopka__btn-icon
	margin-right 22px
	vertical-align middle

.knopka-bg
	padding 200px 0 80px
	background url('../../images/12knopka/knopka-bg.png') no-repeat
	background-size cover
