mixin 9brend()
	+b.brand&attributes(attributes)
		block
		.brand__title
			img.brand__title-img(src='../../images/9brend/brand-fornelli.png')
			.brand__title-text Бренд №1 в сегменте встраиваемой техники шириной 45 см
		.brand__info
			.brand__info-item#brand__info-item.brand__info-item-1.animate-it
				.brand__info-item-txt
					.brand__info-item-txt-ttl Доли в импорте встраиваемой техники
					.brand__info-item-txt-txt шириной 45 см за 2015 г.
				img.brand__info-item-info(src='../../images/9brend/brand-info-left.png')
			.brand__info-item.brand__info-item-2
				.brand__info-item-txt
					.brand__info-item-txt-ttl Доли в импорте встраиваемой техники
					.brand__info-item-txt-txt шириной 45 см за 2016 г.
				img.brand__info-item-info(src='../../images/9brend/brand-info-right.png')
