mixin bg()
	+b.bg&attributes(attributes)
		block
		.bg-cont
			img(src='../../images/bg/bg1.jpg').bg
			img(src='../../images/bg/bg2.jpg').bg
			img(src='../../images/bg/bg3.jpg').bg
			img(src='../../images/bg/bg4.jpg').bg
			img(src='../../images/bg/bg5.jpg').bg
			//- img(src='../../images/bg/bg6.jpg').bg
			img(src='../../images/bg/bg7.jpg').bg
			img(src='../../images/bg/bg8.jpg').bg
			img(src='../../images/bg/bg9.jpg').bg
			img(src='../../images/bg/bg10.jpg').bg
			img(src='../../images/bg/bg11.jpg').bg
			img(src='../../images/bg/bg12.jpg').bg
			img(src='../../images/bg/bg13.jpg').bg
			img(src='../../images/bg/bg14.jpg').bg
			img(src='../../images/bg/bg15.jpg').bg
