mixin 8pochemu()
	+b.pochemu&attributes(attributes)
		block
		.pochemu-title
			.pochemu-title-txt Почему
			img.pochemu-title-img(src='../../images/8pochemu/brand-fornelli.png')
			img.pochemu-title-que-img(src='../../images/8pochemu/pochemu-question.png')
		.pochemu-title-items
			.pochemu-title-item
				img.pochemu-title-item(src='../../images/8pochemu/pochemu-1.png')
				.pochemu-title-item-txt Специалист по варочным поверхностям и духовым шкафам более 10 лет на рынке
			.pochemu-title-item
				img.pochemu-title-item(src='../../images/8pochemu/pochemu-2.png')
				.pochemu-title-item-txt Готовые комплекты на любой вкус. Выбирайте дизайн, материалы и функционал
			.pochemu-title-item
				img.pochemu-title-item(src='../../images/8pochemu/pochemu-3.png')
				.pochemu-title-item-txt Италия на Вашей кухне. Итальянский дизайн, производство, европейские стандарты качества
			.pochemu-title-item
				img.pochemu-title-item(src='../../images/8pochemu/pochemu-4.png')
				.pochemu-title-item-txt Бренд №1 в сегменте встраиваемой техники ширной 45 см*
		div(style='height: 200px;')
