/* почему Fornelli */
.pochemu
	display block

	/* Заголовок */
.pochemu-title
	margin-bottom 80px
	text-align center

.pochemu-title-txt
	display inline-block
	font-size 8em
	font-weight 600
	vertical-align middle
	color red30

.pochemu-title-img
	margin 0 40px 0 20px
	display inline-block
	vertical-align middle
.pochemu-title-que-img
	display inline-block
	vertical-align middle
	/* Заголовок */

	/* Айтемы */
.pochemu-title-items
	margin auto
	text-align center
.pochemu-title-item
	margin-bottom 50px
	display inline-block
	width 100%
	max-width 330px
	vertical-align top
.pochemu-title-item-txt
	margin-top 40px
	font-size 28px
	line-height 36px
	color greyTxt
	/* /Айтемы */

	/* Адаптация */
@media screen and (max-width 600px)
	.pochemu-title
		margin-bottom 30px
@media screen and (max-width 530px)
	.pochemu-title-txt
		font-size 24vw
	.pochemu-title-img
		margin 0 20px
		width 85%
	/* /Адаптация */
/* /почему Fornelli */
