/* почему Fornelli */
.pochemu
	display block

	/* Заголовок */
.pochemu-title
	text-align center

.pochemu-title-txt
	display inline-block
	font-size 130px
	font-weight 600
	vertical-align middle
	color red30

img.pochemu-title-img
	margin 0 40px 0 20px
	display inline-block
	vertical-align middle
img.pochemu-title-que-img
	display inline-block
	vertical-align middle
	/* Заголовок */

	/* Айтемы */
.pochemu-title-items
	margin auto
	text-align center
.pochemu-title-item
	display inline-block
	max-width 330px
	vertical-align top
.pochemu-title-item-txt
	margin-top 40px
	font-size 28px
	line-height 36px
	color greyTxt
	/* /Айтемы */
/* /почему Fornelli */
