mixin 1kak()
	+b.kak&attributes(attributes)
		block
		//- img.kak__bg-img(src='../../images/1kak/kak-kuhnya.png')
		.kak__ellips
			img.kak__ellips-img(src='../../images/1kak/kak-ellips.png')
			.title-big.title-big__kak
				.title-big-col1 Как
				.title-big-col2
					.title-big-col2-row сэкономить
					.title-big-col2-row место на
					.title-big-col2-row маленькой кухне
				img.title-big-col3(src='../../images/1kak/kak-q.png')
		.title-big-2
			.title-big-2-row.title-big-2-row1 подбираем
			.title-big-2-row.title-big-2-row2 правильную
			.title-big-2-row.title-big-2-row3 технику
