/* Общие стили */
.page
  position relative
  overflow-x hidden
  font-family Arial, sans-serif
  background url('../../images/bg/bg.jpg') no-repeat
  background-size cover

.site-width
  position relative
  margin auto
  max-width 1350px

.dn
  display none
/* /Общие стили */
