/* Общие стили */
.page
  position relative
  overflow-x hidden
  font-family Arial, sans-serif
  background url('../../images/bg/bg.jpg') no-repeat
  background-size cover

.site-width
  position relative
  margin auto
  max-width 1350px

.dn
  display none

@media screen and (max-width 1000px)
  .panel
    padding-top 7em
  .chto__title
    padding-right 10px
    padding-left 10px
  .chto__ready-text
    padding-right 10px
    padding-left 10px
  .pochemu-title-item-txt
    padding 0 10px
  .brand__info-item
    padding 0 10px
  .partneri__title
    font-size 45px
  .panel__title-center
    margin-left 10px
    padding-right 10px
/* /Общие стили */
