mixin 4kachestva()
	+b.kachestva&attributes(attributes)
		block
		// Заголовок
		.kachestva__title
			.kachestva__title-container
				.kachestva__title-left 10
				.kachestva__title-center качеств вашей варочной поверхности
				img.kachestva__title-right(src='../../images/4kachestva/kachestva-exclaim.png')
		// Ряд 1
		.kachestva__row1#kachestva.animate-it
			// Большое изображение
			img.kachestva__row1-img(src='../../images/4kachestva/kachestva-img1.png')
			// Перечень качеств
			.kachestva__row1-items
				.kachestva__row1-item
					img.kachestva__row1-item-img(src='../../images/4kachestva/kachestva-item1.png')
					.kachestva__row1-item-cntnt
						.kachestva__frame-hide
							.kachestva__row1-item-cntnt-frame#kachestva__row1-item-cntnt-frame
								.kachestva__row1-item-cntnt-title супер-быстро
								.kachestva__row1-item-cntnt-txt Экспресс-конфорка с 3-м уровнем пламени
				.kachestva__row1-item
					img.kachestva__row1-item-img(src='../../images/4kachestva/kachestva-item2.png')
					.kachestva__row1-item-cntnt
						.kachestva__row1-item-cntnt-title долговечно
						.kachestva__row1-item-cntnt-txt Чугунные решетки
				.kachestva__row1-item
					img.kachestva__row1-item-img(src='../../images/4kachestva/kachestva-item3.png')
					.kachestva__row1-item-cntnt
						.kachestva__row1-item-cntnt-title удобно
						.kachestva__row1-item-cntnt-txt Work-адаптер в комплекте
				.kachestva__row1-item
					img.kachestva__row1-item-img(src='../../images/4kachestva/kachestva-item4.png')
					.kachestva__row1-item-cntnt
						.kachestva__row1-item-cntnt-title практично
						.kachestva__row1-item-cntnt-txt Легкая очистка поверхностей из стекла
				.kachestva__row1-item
					img.kachestva__row1-item-img(src='../../images/4kachestva/kachestva-item5.png')
					.kachestva__row1-item-cntnt
						.kachestva__row1-item-cntnt-title Безопасно
						.kachestva__row1-item-cntnt-txt Полный контроль подачи газа
		// Ряд 2
		.kachestva__row2#kachestva2.animate-it
			// Большое изображение
			img.kachestva__row2-img(src='../../images/4kachestva/kachestva-img2.png')
			// Перечень качеств
			.kachestva__row2-items
				.kachestva__row2-item
					.kachestva__row2-item-cntnt
						.kachestva__row2-item-cntnt-title Универсально
						.kachestva__row2-item-cntnt-txt Зона расширения дает свободу в выборе посуды
					img.kachestva__row2-item-img(src='../../images/4kachestva/kachestva-item6.png')
				.kachestva__row2-item
					.kachestva__row2-item-cntnt
						.kachestva__row2-item-cntnt-title Комфортно
						.kachestva__row2-item-cntnt-txt Таймер для каждой конфорки
					img.kachestva__row2-item-img(src='../../images/4kachestva/kachestva-item7.png')
				.kachestva__row2-item
					.kachestva__row2-item-cntnt
						.kachestva__row2-item-cntnt-title Экономично
						.kachestva__row2-item-cntnt-txt Доводите блюдо до готовности на остаточном тепле
					img.kachestva__row2-item-img(src='../../images/4kachestva/kachestva-item8.png')
				.kachestva__row2-item
					.kachestva__row2-item-cntnt
						.kachestva__row2-item-cntnt-title Элементарно
						.kachestva__row2-item-cntnt-txt Сенсорное управление
					img.kachestva__row2-item-img(src='../../images/4kachestva/kachestva-item9.png')
				.kachestva__row2-item
					.kachestva__row2-item-cntnt
						.kachestva__row2-item-cntnt-title Надежно
						.kachestva__row2-item-cntnt-txt Блокировка при проливе жидкости
					img.kachestva__row2-item-img(src='../../images/4kachestva/kachestva-item10.png')
