mixin 5shkaf()
	+b.shkaf&attributes(attributes)
		block
		img.shkaf__left-photo(src='../../images/5shkaf/shkaf-left-photo.png')
		.shkaf__content
			// Заголовок
			.shkaf__content-title-cont
				.shkaf__content-title Выберите свой духовой шкаф
			// Колонка 1
			.shkaf__content-col
				img.shkaf__content-arrow.shkaf__content-col-arrow-1(src='../../images/5shkaf/shkaf-arrow-left.png')
				img.shkaf__content-label(src='../../images/5shkaf/shkaf-electro-label.png')
				// Тип шкафа
				.shkaf__content-col-title Электрический
				.shkaf__content-shkafi
					img.shkaf__content-shkaf.shkaf__content-shkaf-1(src='../../images/5shkaf/shkaf-electro-black.png')
					img.shkaf__content-shkaf.shkaf__content-shkaf-show.shkaf__content-shkaf-2(src='../../images/5shkaf/shkaf-electro.png')
					img.shkaf__content-shkaf.shkaf__content-shkaf-3(src='../../images/5shkaf/shkaf-electro-blue.png')
					img.shkaf__content-shkaf.shkaf__content-shkaf-4(src='../../images/5shkaf/shkaf-electro-sand.png')
					// Выбор цвета - Левая (планшетный размер)
					.shkaf__content-shkafi-btns
						.shkaf__content-shkafi-btns-ttl В нужном цвете
						.shkaf__content-btns-ttl-col.shkaf__content-btns-ttl-col-mobile
							.shkaf__content-btns-ttl-col-labels
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-top.shkaf__content-btns-ttl-col-label-3(src='../../images/5shkaf/shkaf-color-black-label.png')
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-4(src='../../images/5shkaf/shkaf-color-grey-label.png')
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-3(src='../../images/5shkaf/shkaf-color-blue-label.png')
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-4(src='../../images/5shkaf/shkaf-color-sand-label.png')
			// Колонка 2
			.shkaf__content-col
				img.shkaf__content-arrow.shkaf__content-col-arrow-2(src='../../images/5shkaf/shkaf-arrow-right.png')
				img.shkaf__content-label(src='../../images/5shkaf/shkaf-gas-label.png')
				// Тип шкафа
				.shkaf__content-col-title Газовый
				.shkaf__content-shkafi
					img.shkaf__content-shkaf.shkaf__content-shkaf-show.shkaf__content-shkaf-1(src='../../images/5shkaf/shkaf-gas.png')
					img.shkaf__content-shkaf.shkaf__content-shkaf-2(src='../../images/5shkaf/shkaf-gas-black.png')
					// Выбор цвета - Левая (планшетный размер)
					.shkaf__content-shkafi-btns
						.shkaf__content-shkafi-btns-ttl В нужном цвете
						.shkaf__content-btns-ttl-col
							.shkaf__content-btns-ttl-col-labels
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-top.shkaf__content-btns-ttl-col-label-1(src='../../images/5shkaf/shkaf-color-black-label.png')
								img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-2(src='../../images/5shkaf/shkaf-color-grey-dark-label.png')
			// Кнопки выбора цвета
			.shkaf__content-btns
				// Заголовок кнопок
				.shkaf__content-btns-ttl В нужном цвете
				// Левая колонка
				.shkaf__content-btns-ttl-col
					.shkaf__content-btns-ttl-col-labels
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-top.shkaf__content-btns-ttl-col-label-3(src='../../images/5shkaf/shkaf-color-black-label.png')
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-4(src='../../images/5shkaf/shkaf-color-grey-label.png')
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-3(src='../../images/5shkaf/shkaf-color-blue-label.png')
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-4(src='../../images/5shkaf/shkaf-color-sand-label.png')
				// Правая колонка
				.shkaf__content-btns-ttl-col
					.shkaf__content-btns-ttl-col-labels
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-top.shkaf__content-btns-ttl-col-label-1(src='../../images/5shkaf/shkaf-color-black-label.png')
						img.shkaf__content-btns-ttl-col-label.shkaf__content-btns-ttl-col-label-2(src='../../images/5shkaf/shkaf-color-grey-dark-label.png')
