/* Шкафы */
.shkaf
	position relative
	margin-top 140px
	display block
	text-align right
	background-image url('../../images/5shkaf/shkaf-bg.png')
	background-repeat no-repeat
	background-size contain
.shkaf__content
	position relative
	z-index 20
	margin-top 210px
	display inline-block
	width 100%
	max-width 1100px
	text-align center
.shkaf__left-photo
	position absolute
	z-index 10
	top 0
	left 0
	width 100%
	max-width 664px

	/* Стрелки */
.shkaf__content-arrow
	position absolute
	top -110px
.shkaf__content-col-arrow-1
	left calc(50% - 180px)
.shkaf__content-col-arrow-2
	right calc(50% - 180px)
	/* /Стрелки */

	/* Заголовок */
.shkaf__content-title-cont
	text-align center
.shkaf__content-title
	display inline-block
	max-width 8.3em
	font-size 3.7em
	font-weight 600
	line-height 1.2em
	text-align center
	color #fff
	text-transform uppercase
	/* /Заголовок */

	/* Выберите шкаф */
.shkaf__content-col
	position relative
	display inline-block
	width 49%
	text-align center

	/* Электрический */
.shkaf__content-shkaf-1
	position relative
	width 100%
	max-width 484px
.shkaf__content-shkafi
	position relative
	// height 600px
.shkaf__content-shkaf
	position absolute
	opacity 0
	left 50%
	top 0
	width 100%
	max-width 484px
	transform translateX(-50%)
	transition .2s ease
.shkaf__content-shkaf-show
	position relative
.shkaf-electro-img
	transition .2s ease
.shkaf__content-col-title
	margin-top 30px
	font-size 30px
	font-weight 600
	color #fff
	text-transform uppercase
	/* /Электрический */
	/* /Выберите шкаф */

	/* Кнопки */
.shkaf__content-shkafi-btns
	display none
.shkaf__content-btns
	margin-bottom 100px
.shkaf__content-btns-ttl
	margin-top -50px
	margin-bottom 40px
	font-size 60px
	font-weight 600
	color #fff
	text-transform uppercase
.shkaf__content-btns-ttl-col
	display inline-block
	width 49%
	text-align center
.shkaf__content-btns-ttl-col-label
	position relative
	z-index 10
	margin-left -45px
.shkaf__content-btns-ttl-col-label:first-child
	margin-left 0
.shkaf__content-btns-ttl-col-label-top
	z-index 20
	/* /Кнопки */

	/* Адаптация */
@media screen and (max-width 1100px)
	// .shkaf__content-title
	// 	font-size 5.3vw
	.shkaf__content-arrow
		display none
@media screen and (max-width 1000px)
	.shkaf__content-btns-ttl
		display none
	.shkaf__content-col
		width 100%
	.shkaf__content
		display flex
		flex-direction column
		align-items center
	.shkaf__content-title-cont
		margin-bottom 5em
	.shkaf__content-title
		font-size 3.3em
	.shkaf__content-shkafi
		// height 750px
	.shkaf__content-shkafi:after
		position relative
		display block
		// height 44em
		content ''
	/* Выбор цвета(планшетный) */
	.shkaf__content-btns
		display none
	.shkaf__content-shkafi-btns
		// position absolute
		bottom 3em
		display block
		width 100%
		margin-top -55px
		margin-bottom 40px
	.shkaf__content-shkafi-btns-ttl
		margin-bottom 1em
		font-size 30px
		font-weight 600
		color #fff
		text-transform uppercase
	.shkaf__content-btns-ttl-col-mobile
		width 100%
@media screen and (max-width 470px)
	.shkaf__content-shkafi:after
		font-size 3.8vw
	// .shkaf__content-shkafi
	// 	height inherit
@media screen and (max-width 390px)
	.shkaf__content-shkafi:after
		font-size 4vw

	/* /Адаптация */
/* /Шкафы */
