/* КАК */
.kak2
	position absolute
	z-index 100
	top -30px
	left -695px
	display block
	overflow hidden
	width 3000px
	height 1500px
	border 30px solid rgba(#b30533, .50)
	border-radius 0 0 50% 50%
	.kak__bg-img
		position absolute
		top -1145px
		left 566px
		display inline-block
		width 2072px
/* /КАК */
