mixin partneri()
	+b.partneri&attributes(attributes)
		block
		.partneri__title Покупайте в магазинах партнеров
		.partneri__slider
			.partneri__slider-content
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-colored.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
				.partneri__slider-content-item
					img(src='../../images/11partneri/partners-img-mono.png')
			
		//- .partneri__slider
		//- 	img(src='../../images/11partneri/partners-arrow-left.png').partneri__slider-arrow.partneri__slider-arrow-left
		//- 	.partneri__slider-content
		//- 		.partneri__slider-content-item
		//- 			img(src='../../images/11partneri/partners-img-colored.png')
		//- 		.partneri__slider-content-item
		//- 			img(src='../../images/11partneri/partners-img-mono.png')
		//- 		.partneri__slider-content-item
		//- 			img(src='../../images/11partneri/partners-img-mono.png')
		//- 		.partneri__slider-content-item
		//- 			img(src='../../images/11partneri/partners-img-mono.png')
		//- 		.partneri__slider-content-item
		//- 			img(src='../../images/11partneri/partners-img-mono.png')
		//- 	img(src='../../images/11partneri/partners-arrow-right.png').partneri__slider-arrow.partneri__slider-arrow-right
