/* Партнеры */
.partneri
	display block
	text-align center

.partneri__title
	font-size 50px
	font-weight 600
	color red30
	text-transform uppercase

.partneri__slider
	padding 0 25px
	margin 0 10px

.partneri__slider-content-item
	margin 0 20px
	display inline-block

.partneri__slider-content
	// margin 100px 50px
	display inline-block
	vertical-align middle
	margin auto
	margin-top 100px
	margin-bottom 100px
	max-width 1300px

.partneri__slider-arrow
	display inline-block
	vertical-align middle
/* /Партнеры */
